---
# https://github.com/feng2208/github-hosts

# mappings:
# - hosts:
#     - example.com
#     - "*.example.com" # 所有子域名
#   sni: sni.example.com
#   address: 100.1.1.1:443
# sni 用来验证服务器证书，如果以下划线开头(如：_example.com)，不会被发送。


mappings:
- hosts:
    - github.com
  sni: octocaptcha.com
  address: octocaptcha.com:443
  
- hosts:
    - github.githubassets.com
    - "*.githubusercontent.com"
  sni: www.yelp.com
  address: www.yelp.com:443
